<header>
<nav
       id="sidebarMenu"
       class="sidebar"
       >
      <div class="list-group list-group-flush mx-3 mt-4">
        {{#sideLink "/admin/dashboard"}}Dashboard{{/sideLink}}
        {{#sideLink "/admin/users"}}All Users{{/sideLink}}
        {{#sideLink "/admin/messages"}}Messages{{/sideLink}}
      </div>
</nav>
</header>